<h1>Listing photos</h1>
<div class="help-links"><%= link_to 'New Photo', new_photo_path, :class => "btn" %></div>

<div id="photos-container">
  <%= render :partial => "photos/photo", :collection => @photos %>
</div>

<%=  render :partial => "application/shared/more", :locals => {:path => get_next_photos_path({last_id: @photos.last.id, format: :json} ), :load_to => "#photos-container"}   %>



