<h1>New photo to album <%= @album.name%></h1>

<div class="help-links">
  <%= link_to(raw('<i class="icon-backward"></i> Show all'), album_photos_path(@album)) %>
</div>

<%= render :partial => "photos/form", locals: {photo: @photo, album: @album} %>