<div class="help-links">
  <%= link_to(raw('<i class="icon-backward"></i> Show all'), photos_path) %>
  <%= link_to(raw('<i class="icon-pencil"></i> Edit'), edit_photo_path(@photo)) %>
</div>

<%= render :partial => "photos/photo", locals: {show: true, photo: @photo} %>
