/*
 *= require_self
 *= require_tree .
 */
form#login-form {
    margin: 0px;
}
form#login-form > div {
    display: inline-block;
    margin-right: 5px;
}
form#login-form input {
    margin-top: 10px;
}

form#login-form  .register-link {
    margin-top: 10px;
}


.user-signed-info {
    padding: 10px 15px;
    display: inline-block;
}

.folder-icon-container {
    width: 200px;
    height: 200px;
    padding-bottom: 15px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.folder-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('folder-icon.png');
    position: relative;
}

.folder-icon:hover {
    background-image: url('folder-icon-hover.png');
}

.folder-icon-container .links {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    display: block;
    text-decoration: none;
}

.folder-icon-container .links a:hover {
    text-decoration: none;
}

.folder-icon-container .first-photo {
    position: absolute;
    opacity: 0.3;
    top: 65px;
    left: 50px
}

.folder-icon .name {
    position: absolute;
    top: 45%;
    text-align: center;
    width: 180px;
    margin: 10px;
    color: white;
    font-size: 24px;
    z-index: 5;
}
.help-links {
    margin-bottom: 15px;
}
.help-links a:hover {
    text-decoration: none;
}

.gallery-container {
    width: 600px;
    height: 600px;
    margin: 0px auto;
}


.gallery-container .buttons {
    text-align: center;
    margin-top: 15px;
}

.gallery-container .image{
    position: relative;
    max-height: 500px;
    line-height: 500px;
    background-color: rgba(0,0,0,0.9);
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
}

.gallery-container .image img {
    vertical-align: middle;
    max-height: 500px;
    max-width: 600px;
}

.gallery-container .image .description {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    right: 0;
    line-height: 2em;
    text-align: center;
    margin: 0px auto;
    background-color: #FEFEFE;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    font-size: 14px;
    color: #333;
    text-shadow: 1px 1px 0 white;

}

.gallery-container .image .nav {
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    width: 50px;
    height: 100%;
    background: black;
    opacity: 0.4;
}

.gallery-container .image .nav.disabled {
    display: none!important;
}

.gallery-container .image .nav:hover {
    opacity: 0.5;
}

.gallery-container .image .prev.nav {
    left: 0px;
}

.gallery-container .image .next.nav {
    right: 0px;
}


.photo-preview {
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
}


.show-more-ajax.ajax-load{
    background: #F8F8F8 url("load_posts.gif") center center no-repeat !important;
}

/* more posts button */

.show-more-ajax{
    display: block;
    witdth: 100%;
    height: 30px;
    border:  1px solid #EDEDED;
    background: #F8F8F8;
    margin-top: 40px;
    margin-bottom: 40px;
}
.show-more-ajax .middle{
    display: table-cell;
    vertical-align: middle;
    width: 520px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}


.center-inner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.center-inner > * {
    display: inline-block;
}